<!DOCTYPE html>
<html layout:decorate="'layout/standard'"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:brewer="http://brewer.costax.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Sales</title>
</head>

<body>

<div layout:fragment="content">

    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Search clients</h1>
                    </div>

                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/sales/new}">
                                <i class="glyphicon  glyphicon-plus-sign"></i> <span
                                    class="hidden-xs  hidden-sm">New Sale</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">

            <form method="GET" th:action="@{/sales}" th:object="${filter}">

                <div class="row">
                    <div class="form-group  col-sm-8">
                        <label class="control-label" for="name">code</label>
                        <input autofocus="autofocus" class="form-control" id="name" th:field="*{code}" type="text"/>
                    </div>

                    <div class="form-group  col-sm-4">
                        <label class="control-label" for="nif">Nif</label>
                        <input class="form-control js-nif" id="nif" th:field="*{nif}" type="text"/>
                    </div>
                </div>
                <button class="btn  btn-primary" type="submit">Search</button>
            </form>
        </div>

        <div class="table-responsive  bw-tabela-simples">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>
                        <brewer:sortable page="${page}" field="clientName" text="'Client'"/>
                    </th>
                    <th>
                        <brewer:sortable page="${page}" field="createdAt" text="'Created At'"/>
                    </th>
                    <th>
                        <brewer:sortable page="${page}" field="total" text="'Total'"/>
                    </th>
                    <th>Seller</th>
                    <th>
                        <brewer:sortable page="${page}" field="status" text="'Status'"/>
                    </th>
                    <th class="table-col-acoes"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${page.content}">
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.clientName}"></td>
                    <td th:text="${#temporals.format(c.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="|€ ${c.total} |"></td>
                    <td th:text="${c.sellerName}"></td>
                    <td th:text="${c.status}"></td>
                    <td class="text-center">
                        <a class="btn  btn-link  btn-xs" href="#" title="Edit">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(page.content)}">
                    <td colspan="4">
                        <span>No Sales Found</span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <brewer:pagination page="${page}"/>

    </section>


</div>

</body>
</html>