<!DOCTYPE html>
<html layout:decorate="'layout/standard'"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:brewer="http://brewer.costax.com"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Sale</title>
    <link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}" type="text/css"/>
</head>

<body>

<div layout:fragment="content">

    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-10">
                        <h1>
                            Create new sale
                        </h1>
                    </div>

                    <!--
                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default"  th:href="@{/styles}">
                                <i class="glyphicon  glyphicon-search"></i> <span
                                    class="hidden-xs  hidden-sm">Search</span>
                            </a>
                        </div>
                    </div>
                    -->
                </div>

            </div>
        </div>

        <div class="container-fluid">

            <form method="POST" th:action="@{/sales/new}" th:object="${sale}">

                <brewer:message/>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="aw-box">
                            <div class="aw-box__icon">
                                <i class="fa  fa-usd  fa-3x"></i>
                            </div>
                            <div class="aw-box__value">€ <span class="js-sale-total-value-box">0,00</span></div>
                            <div class="aw-box__title">Total</div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="aw-box">
                            <div class="aw-box__icon">
                                <i class="fa  fa-tag  fa-3x"></i>
                            </div>
                            <div class="aw-box__value">Budget</div>
                            <div class="aw-box__title">Status</div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="aw-box">
                            <div class="aw-box__icon">
                                <i class="fa  fa-calendar  fa-3x"></i>
                            </div>
                            <div class="aw-box__value">
                                <span class="js-tooltip">Today</span>
                            </div>
                            <div class="aw-box__title">Creation</div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group  col-sm-4  bw-required" brewer:classforerror="client">
                        <label class="control-label" for="nameClient">Client</label>
                        <div class="input-group">
                            <input class="form-control" id="nameClient"
                                   placeholder="Click on the magnifying glass to search for a client"
                                   readonly="readonly"
                                   type="text"/>
                            <!--input id="idClient" type="hidden" th:field="*{client}"-->

                            <input id="codigoCliente" type="hidden" th:field="*{client}"/>

                            <span class="input-group-btn">
                                <button class="btn  btn-default  js-tooltip"
                                        data-target="#fastClientsSearch"
                                        data-toggle="modal"
                                        title="Advanced Search"
                                        type="button">
                                    <i class="glyphicon  glyphicon-search"></i>
                               </button>
                           </span>
                        </div>

                    </div>

                    <div class="form-group  col-sm-4 bw-required">
                        <label class="control-label"
                               for="portsValueBox">Ports cust</label>
                        <div class="input-group">
                            <div class="input-group-addon">€</div>
                            <input class="form-control  js-decimal"
                                   id="portsValueBox"
                                   maxlength="14"
                                   th:field="*{portsValue}"
                                   type="text"/>
                        </div>
                    </div>

                    <div class="form-group  col-sm-4">
                        <label class="control-label"
                               for="discountValueBox">Discount value</label>
                        <div class="input-group">
                            <div class="input-group-addon">€</div>
                            <input class="form-control  js-decimal"
                                   id="discountValueBox"
                                   maxlength="14"
                                   th:field="*{discountValue}"
                                   type="text"/>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group  col-lg-12">
                        <ul class="nav nav-tabs  js-tab-sale">
                            <li class="active" role="presentation"><a href="#beers">Beers</a></li>
                            <li role="presentation"><a href="#delivery">Delivery</a></li>
                        </ul>
                    </div>
                </div>


                <!-- Tabs  -->

                <div class="tab-content">
                    <div class="tab-pane active" id="beers">

                        <div class="row">
                            <div class="form-group  col-lg-12">
                                <input autofocus="autofocus" class="form-control  js-beer-code-or-name-input"
                                       id="beer"
                                       placeholder="Search and add beer by code or name"
                                       th:attr="url=@{'/beers/summary?codeOrName='}"
                                       type="text"/>
                            </div>
                        </div>

                        <!-- ********************************** -->
                        <!-- ********************************** -->
                        <!-- *********** List of itens ******** -->
                        <!-- ********************************** -->
                        <!-- ********************************** -->
                        <div class="bw-tabela-cervejas bw-table-beers js-table-beers-container">

                            <!--                             <div class="bw-table-beers__empty">-->
                            <!--                                 <i class="glyphicon  glyphicon-shopping-cart"></i>-->
                            <!--                                 <span>You have not added any beer yet..</span>-->
                            <!--                             </div>-->

                        </div>
                    </div>

                    <div class="tab-pane" id="delivery">
                        <div class="row">
                            <div class="form-group  col-sm-3">
                                <label class="control-label" for="deliveryDate">Delivery date</label>
                                <input class="form-control" id="deliveryDate" type="text"/>
                            </div>

                            <div class="form-group  col-sm-3">
                                <label class="control-label" for="deliveryTime">Delivery time</label>
                                <input class="form-control" id="deliveryTime" type="text"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group  col-sm-12">
							<textarea class="form-control"
                                      id="deliveryDate2"
                                      placeholder="Any notes for the delivery of this request?"
                                      rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Operations -->

                <div class="row" style="clear: both">
                    <div class="col-lg-12">
                        <div class="btn-group">
                            <button type="submit" class="btn  btn-primary">Save</button>
                            <button class="btn  btn-primary  dropdown-toggle" data-toggle="dropdown" type="button">
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li><a href="#">Save and issue</a></li>
                                <li><a href="#">Save and send by e-mail</a></li>
                            </ul>
                        </div>

                        <button class="btn  btn-danger">Cancel</button>
                    </div>
                </div>

            </form>

        </div>

    </section>

    <th:block th:replace="clients/fastClientsSearch :: fastClientsSearch"></th:block>

    <th:block th:replace="fragments/templateSaleBeerAutoComplete"></th:block>

</div>

<th:block layout:fragment="javascripts-extras">
    <script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
    <script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>

    <script th:src="@{/javascripts/clients-fast-search.js}"></script>
    <script th:src="@{/javascripts/sale.beer.autocomplete.js}"></script>
    <script th:src="@{/javascripts/sale.beer.table.sale-items.js}"></script>
    <script th:src="@{/javascripts/sale.js}"></script>

    <script>
        $(function () {
            $('.js-tab-sale a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $("form").keypress(function(e) {
                //Enter key
                if (e.which == 13) {
                    return false;
                }
            });
        });
    </script>
</th:block>

</body>

</html>