<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.thymeleaf.org/extras/data">

    <div class="bw-table-item bw-tabela-item js-table-item" th:each="item : ${items}" data:total-value="${totalValue}">

        <div class="bw-table-item__column bw-table-item__column--foto">
            <img th:if="${item.beerImage == null}" th:src="@{/images/thumbnail.beer-mock.png}" class="img-responsive"/>
            <img th:unless="${item.beerImage == null}" th:src="@{/images/thumbnail.{fname}(fname = ${item.beerImage})}" class="img-responsive"/>
        </div>

        <div class="bw-table-item__column bw-table-item__column--details">
            <span class="bw-table-beer-name" th:text="${item.beerName}">Name of the beer</span>
            <span class="label  label-default" th:text="${item.beerCode}">BEER-CODE</span>
            <span class="bw-table-beer-origin" th:text="${item.beerOriginDescription}">BEER-ORIGIN</span>
        </div>

        <div class="bw-table-item__column bw-table-item__column--values">
            <div class="bw-table-beer-small-value">
                <input type="text" maxlength="3" class="bw-table-beer-qty js-table-beer-qty"
                       th:attr="beerId=${item.beerId}"
                       data:beer-id="${item.beerId}"
                       th:value="${item.qty}"/>
                <span>x €$[[${{item.beerValue}}]]</span>

            </div>
            <div class="bw-table-beer-big-value">
                €$[[${{item.total}}]]
            </div>
        </div>

        <div class="bw-table-item__remove-painel">
            <span class="bw-table-item__remove-title">Remove this item from the sale?</span>
            <button type="button" class="btn  btn-danger js-table-item__remove-painel-btn" th:attr="beerId=${item.beerId}">Yes, remove!</button>
        </div>

    </div>

    <div class="bw-table-beers__empty" th:if="${items.isEmpty()}">
        <i class="glyphicon  glyphicon-shopping-cart"></i>
        <span>You have not added any beer yet..</span>
    </div>
</html>