<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="'layout/standard'">
<head>
    <title>Create new Beer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/upload.min.css}"/>
</head>
<body>

<div layout:fragment="content">

    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-10">
                        <h1>
                            Create new Beer
                        </h1>
                    </div>
                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/beers}">
                                <i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Search</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">

            <th:block th:include="fragments/success-message"/>

            <form class="form-vertical  js-form-loading" method="POST" th:action="@{/beers/new}" th:object="${beer}">

                <th:block th:include="fragments/validation-errors-messages"/>

                <div class="row">
                    <div class="col-sm-2  form-group  bw-required"
                         th:classappend="${#fields.hasErrors('code')} ? 'has-error'">
                        <label for="code" class="control-label">Code</label>
                        <input th:field="*{code}" id="code" type="text" class="form-control"/>
                    </div>

                    <div class="col-sm-10 form-group bw-required"
                         th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                        <label class="control-label" for="name">Name</label>
                        <input id="name" th:field="*{name}" type="text" class="form-control"/>
                    </div>
                </div>

                <div class="form-group bw-required" th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
                    <label for="description" class="control-label">Description</label>
                    <textarea rows="3" class="form-control" id="description" th:field="*{description}"></textarea>
                </div>


                <div class="row">

                    <div class="col-sm-3  form-group  bw-required"
                         th:classappend="${#fields.hasErrors('style')} ? 'has-error'">
                        <label for="styles" class="control-label">Style</label>
                        <div class="bw-field-action">
                            <select id="styles" class="form-control" th:field="*{style}">
                                <option value="">Select the style</option>
                                <option th:each="style : ${styles}" th:value="${style.id}"
                                        th:selected="${style.equals(beer.style)}"
                                        th:text="${style.name}"></option>
                            </select>
                            <div class="bw-field-action__icon">
                                <a href="#" data-toggle="modal" data-target="#style-fast-registration">
                                    <i class="glyphicon  glyphicon-plus-sign bw-glyphicon-large"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3  form-group  bw-required"
                         th:classappend="${#fields.hasErrors('flavor')} ? 'has-error'">
                        <label for="flavor" class="control-label">Flavor</label>
                        <select id="flavor" class="form-control" th:field="*{flavor}">
                            <option value="">Select the flavor</option>
                            <option th:each="flavor : ${flavors}" th:value="${flavor}"
                                    th:text="${flavor.description}"></option>
                        </select>
                    </div>

                    <div class="col-sm-3  form-group  bw-required"
                         th:classappend="${#fields.hasErrors('alcoholicStrength')} ? 'has-error'">
                        <label for="alcoholicStrength" class="control-label">Alcoholic strength</label>
                        <div class="input-group">
                            <input id="alcoholicStrength" type="text" class="form-control" th:field="*{alcoholicStrength}"/>
                            <div class="input-group-addon">%</div>
                        </div>
                    </div>

                    <div class="col-lg-3  col-sm-6  form-group  bw-required"
                         th:classappend="${#fields.hasErrors('value')} ? 'has-error'">
                        <label for="value" class="control-label">Value</label>
                        <div class="input-group">
                            <div class="input-group-addon">€</div>
                            <input id="value" type="text" class="form-control js-money" th:field="*{value}"/>
                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-3  col-sm-6  form-group  bw-required"
                         th:classappend="${#fields.hasErrors('origin')} ? 'has-error'">
                        <label class="control-label">Origin</label>
                        <div>
                            <th:block th:each="origin : ${origins}">
                                <div class="radio  radio-inline">
                                    <input th:id="|id_${origin}|" type="radio" th:value="${origin}" name="origin"
                                           th:field="*{origin}"/>
                                    <label th:for="|id_${origin}|" th:text="${origin.description}"/>
                                </div>
                            </th:block>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group  col-sm-12">
                        <input type="hidden" class="js_image_name" th:field="*{image.name}"/>
                        <input type="hidden" class="js_image_contentType" th:field="*{image.contentType}"/>

                        <label class="control-label">Image</label>

                        <div class="js-beer-image" th:attr="data-url-images=@{/images}">

                            <div id="upload-drop" class="bw-upload js-container-foto-cerveja">
                                <i class="glyphicon  glyphicon-cloud-upload"></i>
                                <span>Drag the image or </span>
                                <a class="bw-upload-form-file">
                                    select one
                                    <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <button class="btn  btn-primary" type="submit">Save</button>
                </div>

                <!-- <span th:text="${message}"></span>-->

            </form>

        </div>

        <!-- Modal and dialogs -->
        <div th:replace="styles/style-fast-registration :: modal"></div>
        <th:block th:replace="fragments/image-box"></th:block>
        <!-- /Modal and dialogs -->
    </section>

</div>

<th:block layout:fragment="javascripts-extras">
    <script th:src="@{/javascripts/style-fast-registration.js}"></script>
    <script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
    <script th:src="@{/javascripts/vendors/upload.min.js}"></script>
    <script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
    <script th:src="@{/javascripts/beer.upload-image.js}"></script>
</th:block>

</body>


</html>
