<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="'layout/standard'"
      xmlns:brewer="http://brewer.costax.io">


<head>
    <title>Search beers</title>
</head>

<body>

<div layout:fragment="content">


    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10">
                        <h1>Search beers</h1>
                    </div>

                    <div class="col-xs-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/beers/new}">
                                <i class="glyphicon  glyphicon-plus-sign"></i> <span
                                    class="hidden-xs  hidden-sm">New beer</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">

            <form method="GET" th:object="${filter}">

                <div class="row">
                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="code">Code</label>
                        <input type="text" class="form-control" id="code" autofocus="autofocus" th:field="*{code}"/>
                    </div>

                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="name">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="style">Style</label>
                        <select id="style" class="form-control" th:field="*{style}">
                            <option value="">All the styles</option>
                            <option th:each="s : ${styles}" th:text="${s.name}" th:value="${s.id}"></option>
                        </select>
                    </div>

                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="flavor">Falvor</label>
                        <select id="flavor" class="form-control" th:field="*{flavor}">
                            <option value="">All flavors</option>
                            <option th:each="f : ${flavors}" th:value="${f}" th:text="${f.description}"></option>
                        </select>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group  col-sm-6">
                        <label class="control-label">Origin</label>
                        <div>
                            <th:block th:each="o : ${origins}">
                                <div class="radio  radio-inline">
                                    <input th:id="|id_${o}|" type="radio" th:value="${o}" th:field="*{origin}"/>
                                    <label th:for="|id_${o}|" th:text="${o.description}"></label>
                                </div>
                            </th:block>
                            <div class="radio  radio-inline">
                                <input id="allOrigins" type="radio" th:checked="*{origin} == null" name="origin"/>
                                <label for="allOrigins" >All</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6  form-group">
                        <label for="valueSinceId">Value/Price</label>
                        <div class="form-inline">
                            <input type="text" class="form-control  aw-form-control-inline-sm  js-money" id="valueSinceId" th:field="*{valueSince}"/>
                            <label for="valueUpToId" class="aw-form-label-between">Until</label>
                            <input type="text" class="form-control  aw-form-control-inline-sm  js-money" id="valueUpToId" th:field="*{valueUpTo}"/>
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn  btn-primary">Search</button>
            </form>

            <div class="table-responsive  bw-simples-table">
                <table class="table  table-hover">
                    <thead>
                    <th class="beer-table-col-image"></th>
                    <th class="beer-table-col-code">
                        <brewer:sortable page="${page}" field="code" text="'Code'"/>
                    </th>
                    <th class="beer-table-col-name">
                        <brewer:sortable page="${page}" field="name" text="'Name'"/>
                    </th>
                    <th class="beer-table-col-style">Style</th>
                    <th class="beer-table-col-origin">Origin</th>
                    <th class="beer-table-col-value">Value</th>
                    <th class="beer-table-col-actions"></th>
                    </thead>

                    <tbody>
                    <tr th:each="beer : ${page.content}">
                        <td class="text-center">
                            <img th:src="@{/images/thumbnail.{imageName}(imageName=${beer.imageNameOrMock})}"
                                 class="img-responsive"/>
                        </td>

                        <td class="text-center" th:text="${beer.code}"></td>
                        <td th:text="${beer.name}"></td>
                        <td th:text="${beer.style.name}"></td>
                        <td th:text="${beer.origin.description}"></td>
                        <td class="text-right" th:text="|€ ${beer.value}|"></td>
                        <td class="text-center">
                            <a class="btn  btn-link  btn-xs" title="Edit">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn  btn-link  btn-xs" title="Exclude">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>

                    </tr>
                    <tr th:if="${#lists.isEmpty(page.content)}">
                        <td colspan="7">
                            <span>No Beers Found</span>
                        </td>
                    </tr>
                    </tbody>


                </table>
            </div>

            <div class="col-sm-12  text-center" th:if="${not #lists.isEmpty(page.content)}">
                <nav>
                    <ul class="pagination  pagination-sm" th:with="current0Page=${page.number}">

                        <li th:class="${page.first} ? disabled">
                            <a th:href="${page.urlToPage(current0Page - 1)}" th:remove="${page.first} ? tag"><span>&laquo;</span></a>
                        </li>

                        <!-- th:block th:each="p : ${#numbers.sequence(1, page.totalPages)}" th:with="myCurrentPageNumber=${p - 1}" -->
                        <th:block th:each="p : ${page.paginationItems}" th:with="myCurrentPageNumber=${p}">
                            <li th:class="${current0Page == myCurrentPageNumber} ? active">
                                <a th:href="${page.urlToPage(myCurrentPageNumber)}">[[${p + 1}]]</a>
                            </li>
                        </th:block>

                        <li th:class="${page.last} ? disabled">
                            <a th:href="${page.urlToPage(current0Page + 1)}" th:remove="${page.last} ? tag"><span>&raquo;</span></a>
                        </li>

                    </ul>
                </nav>
            </div>

        </div>


    </section>

</div>

</body>

</html>