<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Brewer</title>
    <!--<link rel="icon" type="image/x-icon" th:href="@{/layout/images/favicon.ico}"/>-->
    <link rel="shortcut icon" type="image/png" th:href="@{/layout/images/favicon.png}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/costax.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/brewer.css}"/>

    <link rel="stylesheet" th:href="@{/stylesheets/vendors/bootstrap-datepicker.standalone.min.css}" type="text/css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
    <input name="_csrf_header" th:value="${_csrf.headerName}" type="hidden"/>

    <div class="aw-layout-page">

        <!--
            ***********************
            Top Navigation bar
            ***********************
        -->
        <div th:replace="layout/fragments/nav-bar :: nav-bar"></div>
        <!--
            ***********************
            /Top Navigation bar
            ***********************
        -->

        <!--
            ************************
            Left side bar
            ************************
         -->
        <div th:replace="layout/fragments/left-side-menu :: left-side-menu"></div>
        <!--<aside class="aw-layout-sidebar  js-sidebar" th:include="layout/fragments/left-side-menu :: left-side-menu"/>-->
        <!--
            ************************
            / Left side bar
            ************************
         -->

        <!--
            **************************
            Section container
            **************************
        -->
        <section class="aw-layout-content js-content" layout:fragment="content" th:remove="tag">
        </section>
        <!--
            **************************
            / Section container
            **************************
        -->

        <!--
            ***********************
            Footer
            ***********************
        -->
        <div th:replace="layout/fragments/footer :: footer"></div>
        <!--
            ***********************
            /Footer
            ***********************
        -->

    </div>

    <!--  -  --->
    <script th:src="@{/layout/javascripts/vendors.min.js}"></script>
    <script th:src="@{/layout/javascripts/costax.min.js}"></script>
    <script th:src="@{/javascripts/vendors/jquery.maskMoney.min.js}"></script>
    <script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>

    <script th:src="@{/javascripts/vendors/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/javascripts/vendors/bootstrap-datepicker.pt.min.js}"></script>

    <script th:src="@{/javascripts/vendors/numeral.min.js}"></script>
    <script th:src="@{/javascripts/vendors/locales.min.js}"></script>

    <script th:src="@{/javascripts/brewer.js}"></script>

    <th:block layout:fragment="javascripts-extras"></th:block>

    <script>
        console.debug('-- default all loading... without this javascripts-extras is not executed');
    </script>

</body>
</html>