<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:brewer="http://brewer.costax.com"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="'layout/standard'">
<head>
    <title>Create new Client</title>
</head>

<body>

<div layout:fragment="content">

    <section class="aw-layout-content js-content">


        <div class="page-header">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-10">
                        <h1>
                            Create new City
                        </h1>
                    </div>
                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/cities}">
                                <i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Search</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <form method="POST" th:object="${city}" th:action="@{/cities/new}">

                <brewer:message/>

                <div class="row">
                    <div class="form-group  col-sm-4  bw-required" brewer:classforerror="country">
                        <label for="state">Country</label>
                        <select id="state" class="form-control" th:field="*{country}">
                            <option value="">Select the country</option>
                            <option th:each="c : ${countries}" th:value="${c.id}" th:text="${c.name}"></option>
                        </select>
                    </div>

                    <div class="form-group  col-sm-8  bw-required" brewer:classforerror="name">
                        <label for="name" class="control-label">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}"/>
                    </div>
                </div>

                <button type="submit" class="btn  btn-primary">Save</button>
            </form>
        </div>

    </section>

</div>
</body>
</html>