<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:brewer="http://brewer.costax.com"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="'layout/standard'">
<head>
    <title>Search cities</title>
</head>

<body>

<div layout:fragment="content">

    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Search cities</h1>
                    </div>

                    <div class="col-sm-2" sec:authorize-url="/cities/new">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/cities/new}">
                                <i class="glyphicon  glyphicon-plus-sign"></i> <span
                                    class="hidden-xs  hidden-sm">New City</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <form method="GET" th:object="${filter}">
                <div class="row">
                    <div class="form-group  col-sm-4">
                        <label for="estado">Country</label>
                        <select id="estado" class="form-control" th:field="*{country}">
                            <option value="">any</option>
                            <option th:each="country : ${counties}" th:value="${country.id}"
                                    th:text="${country.name}"></option>
                        </select>
                    </div>

                    <div class="form-group  col-sm-8">
                        <label for="nome">Name</label>
                        <input type="text" class="form-control" id="nome" th:field="*{name}"/>
                    </div>
                </div>

                <button type="submit" class="btn  btn-primary">Search</button>
            </form>



            <div class="table-responsive  bw-simples-table">
                <table class="table  table-hover">
                    <thead>
                    <tr>
                        <th class="table-city-col-name">
                            <brewer:sortable page="${page}" field="name" text="'Name'"/>
                        </th>
                        <th class="table-cidades-col-estado">
                            <brewer:sortable page="${page}" field="country.name" text="'Country'"/>
                        </th>
                        <th class="table-col-actions" sec:authorize="hasRole('ROLE_MANAGER_CITIES')"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="city : ${page.content}">
                        <td th:text="${city.name}"></td>
                        <td class="text-right" th:text="${city.country.name}"></td>
                        <td class="text-center" sec:authorize="hasAuthority('ROLE_MANAGER_CITIES')">
                            <a class="btn  btn-link  btn-xs" title="Edit">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn  btn-link  btn-xs" title="Remove">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${page.empty}">
                        <span>No Cities Found</span>
                    </tr>
                    </tbody>
                </table>
            </div>

            <brewer:pagination page="${page}"/>

        </div>

</section>

</div>

</body>
</html>