/***************
 * COMPONENTS
 ****/
.bw-field-action {
    display: flex;
}

.bw-field-action__icon {
    margin: 6px 0 0 5px;
}

/**************
 * Others
 ****/

.bw-required > label:after {
    content: " *";
}

.bw-glyphicon-large {
    font-size: 18px;
}

/* Upload */
.bw-upload {
    padding: 15px;

    border: 1px dashed #ddd;
    border-radius: 4px;
    background: #fafafa;

    text-align: center;
}

.bw-upload-form-file {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.bw-upload-form-file > input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;

    font-size: 500px;
}

/* Simple Table */
.bw-simples-table {
    margin-top: 15px;
}

.bw-simples-table table tr th {
    border-bottom-width: 1px;
}

.bw-simples-table table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

/****************
* Beers Table
 */

.beer-table-col-image {
    min-width: 50px;
    width: 50px
}

.beer-table-col-code {
    width: 90px;
    text-align: center;
}

.beer-table-col-name {
}

.beer-table-col-style {
    width: 120px;
}

.beer-table-col-origin {
    width: 100px;
}

.beer-table-col-value {
    width: 100px;
    text-align: right;
}

.beer-table-col-actions {
    width: 80px;
}


.style-table-col-id {
    width: 90px;
    text-align: center;
}

.style-table-col-actions {
    width: 80px;
}


/**************
 * Users search
 ****/

.table-users-col-status {
    width: 25px;
    text-align: center;
}


/**************
 * tables beers sale page
 */
.bw-table-beers {
    margin-bottom: 15px;
}

.bw-table-beers__empty {
    padding: 15px 15px;

    border: 1px dashed #ddd;

    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    color: #555;
}

/**************
 * CUSTOM COMPONENTS CUSTOMISATION
 ****/
.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

/* Easy Autocomplete */
.easy-autocomplete input {
    border-radius: 2px !important;
}

.easy-autocomplete-container ul li {
    font-size: 1em !important;
    padding: 0px 5px !important;
}



/* Box */
.negative .aw-box__value {
    color: red;
}

/* Table Item */
.bw-table-item {
    position: relative; /* Para que o painel de exclusão apareça dentro da linha */

    padding: 15px 0;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.bw-table-item:after {
    clear: both;
    display: block;
    content: "";
}

.bw-table-item ~ .bw-table-item {
    border-top: 1px solid #ddd;
}

.bw-table-item__column {
    padding: 0 10px;
}

.bw-table-item__column--foto {
    float: left;
    width: 60px;

    text-align: center;
}

.bw-table-item__column--values {
    padding-right: 0px;
}

.bw-table-item__column--details, .bw-table-item__column--values {
    margin-left: 60px;
}

.bw-table-beer-name {
    font-weight: 500;
    font-size: 1.1em;
    display: block;
}

.bw-table-beer-origin {
    color: #aaa;
    display: block;
    font-weight: 200;
}

.bw-table-beer-qty {
    width: 30px;
    text-align: right;
}

.bw-table-beer-small-value {
    font-weight: 300;
    font-size: 1em;
}

.bw-table-beer-average-value {
    font-weight: 300;
    font-size: 1.3em;
}

.bw-table-beer-big-value {
    font-weight: 300;
    font-size: 1.6em;
}


/*
 * Exclusion Painel
 */
.bw-table-item__remove-painel {
    position: absolute;
    top: 0;
    right: 100000px;
    height: 100%;
    width: 50%;

    text-align: center;
    padding-top: 35px;

    background-color: #f0ad4e;

    opacity: 0;
    transition: opacity 0.5s;
}

.requesting-exclusion .bw-table-item__remove-painel {
    right: 0;
    opacity: 1;
}

.bw-table-item__remove-title {
    display: block;
    margin-bottom: 5px;

    color: #fff;
    font-size: 1.3em;
}



@media (min-width: 768px) {
    /* exclusion item painel */
    .bw-table-item__remove-painel {
        width: 40%;
        padding-top: 10px;
    }

    /* screen-sm-min */
    .bw-table-item__column {
        float: left;
        margin-left: 0px;
    }

    .bw-table-item__column--details {
        width: calc(70% - 30px);
    }

    .bw-table-item__column--values {
        width: calc(30% - 30px);

        text-align: right;
    }
}
