<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:brewer="http://brewer.costax.io"
      xmlns:th="http://www.thymeleaf.org">
<body>

<aside class="aw-layout-sidebar  js-sidebar" th:fragment="left-side-menu">
    <div class="aw-layout-sidebar__content" >

        <nav class="aw-menu  js-menu">

            <ul class="aw-menu__list">

                <li class="aw-menu__item">
                    <a href="#"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
                </li>

                <li class="aw-menu__item">
                    <a href="#">
                        <i class="fa  fa-fw  fa-credit-card"></i><span>Sales</span>
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>

                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link" brewer:activeOn="@{/sales/new}">
                            <a th:href="@{/sales/new}">Create sale</a>
                        </li>

                        <li class="aw-menu__item  aw-menu__item--link" brewer:activeOn="@{/sales}">
                            <a th:href="@{/sales}">Search sales</a>
                        </li>
                    </ul>
                </li>

                <li class="aw-menu__item">
                    <a href="#">
                        <i class="fa  fa-fw  fa-truck"></i><span>Stocks</span>
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>

                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li brewer:activeOn="@{/styles.*}"
                            class="aw-menu__item  aw-menu__item--link" n>
                            <a th:href="@{/styles}">Styles</a>
                        </li>
                        <li brewer:activeOn="@{/beers.*}"
                            class="aw-menu__item  aw-menu__item--link">
                            <a th:href="@{/beers}">Beers</a>
                        </li>
                    </ul>
                </li>

                <li class="aw-menu__item">

                    <a href="#">
                        <i class="fa  fa-fw  fa-database"></i><span>Manager</span>
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>

                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li brewer:activeOn="@{/cities.*}" class="aw-menu__item  aw-menu__item--link">
                            <a th:href="@{/cities}">Cities</a>
                        </li>
                        <li brewer:activeOn="@{/clients.*}" class="aw-menu__item  aw-menu__item--link">
                            <a th:href="@{/clients}">Clients</a>
                        </li>
                        <li brewer:activeOn="@{/users.*}" class="aw-menu__item  aw-menu__item--link">
                            <a th:href="@{/users}">Users</a>
                        </li>
                    </ul>

                </li>

            </ul>

        </nav>

    </div>
</aside>

</body>
</html>