<script id="fr-table-fast-search-clients" type="text/x-handlebars-template">

    <div class="table-responsive  bw-simples-table" style="margin-top: 15px">
        <table class="table  table-hover">
            <thead>
            <tr>
                <th class="col-sm-2">Name</th>
                <th class="col-sm-2">Phone</th>
            </tr>
            </thead>

            <tbody>
            {{#if .}}
            {{#each .}}
            <tr data-id="{{id}}" data-name="{{name}}" class="js-table-row-fast-search-clients">
                <td>{{name}}</td>
                <td>{{phone}}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan="2">No clients found</td>
            </tr>
            {{/if}}
            </tbody>
        </table>
    </div>
</script>
