<script id="image-box" type="text/x-handlebars-template">
    <div class="row  js-image-box">
        <div class="col-md-4"></div>
        <div class="col-md-4  text-center">
            <a href="#" class="thumbnail">
                <img th:src="@{/images/temp/{{imageId}}}"></img>
            </a>
            <button type="button" class="btn  btn-link  js-remove-image-box"><span class="glyphicon  glyphicon-remove"></span></button>
        </div>
        <div class="col-md-4"></div>
    </div>
</script>