<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt"
      xmlns="http://www.w3.org/1999/xhtml">

<th:block th:fragment="pagination (page)">


    <div class="col-sm-12  text-center" th:if="${not page.empty}">
        <nav>
            <ul class="pagination  pagination-sm" th:with="current0Page=${page.number}">

                <li th:class="${page.first} ? disabled">
                    <a th:href="${page.urlToPage(current0Page - 1)}"
                       th:remove="${page.first} ? tag"><span>&laquo;</span></a>
                </li>

                <th:block th:each="p : ${page.paginationItems}" th:with="myCurrentPageNumber=${p}">
                    <li th:class="${current0Page == myCurrentPageNumber} ? active">
                        <a th:href="${page.urlToPage(myCurrentPageNumber)}">[[${p + 1}]]</a>
                    </li>
                </th:block>

                <li th:class="${page.last} ? disabled">
                    <a th:href="${page.urlToPage(current0Page + 1)}" th:remove="${page.last} ? tag"><span>&raquo;</span></a>
                </li>

            </ul>
        </nav>
    </div>

</th:block>
</html>
