<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sortable (page, field, title)">
    <a th:href="${page.urlOrderBy(field)}" th:remove="${page.empty} ? tag">
        <span th:text="${title}"></span>
        <span class="dropup" th:remove="${page.desc(field)} ? tag"
              th:if="${page.order(field)}">
			<span class="caret"></span>
		</span>
    </a>
</th:block>

</html>