<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="alert alert-success alert-dismissible" role="alert"
     th:fragment="alert"
     th:if="${not #strings.isEmpty(successMessage)}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span th:text="${successMessage}"></span>
</div>
</html>