<script id="template-sale-beer-auto-complete" type="text/x-handlebars-template">
    <div class="bw-table-item">
        <div class="bw-table-item__column bw-table-item__column--foto">
            <img th:src="@{/images/thumbnail.{{imageName}}}" class="img-responsive"/>
        </div>
        <div class="bw-table-item__column bw-table-item__column--details">
            <span class="bw-table-beer-name">{{name}}</span>
            <span class="label label-default">{{code}}</span>
            <span class="bw-table-beer-origin">{{origin}}</span>
        </div>
        <div class="bw-table-item__column  bw-table-item__column--values">
            <div class="bw-table-beer-average-value"> {{value}}</div>
        </div>
    </div>
</script>