<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:brewer="http://brewer.costax.com"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="'layout/standard'">
<head>
    <title>Create new Client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-datepicker.standalone.min.css}"/>-->
</head>

<body>

<div layout:fragment="content">

    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-10">
                        <h1>
                            Create new User
                        </h1>
                    </div>
                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/users}">
                                <i class="glyphicon  glyphicon-search"></i> <span
                                    class="hidden-xs  hidden-sm">Search</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="container-fluid">

            <form class="form-vertical  js-form-loading" method="POST" th:action="@{/users/new}" th:object="${user}">

                <!--<th:block th:include="fragments/validation-errors-messages"/>-->
                <brewer:message/>

                <div class="row">
                    <div class="form-group col-sm-12 bw-required"
                         th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                        <label for="name">Name</label>
                        <input autofocus="autofocus" class="form-control" id="name" th:field="*{name}" type="text"/>
                    </div>
                </div>

                <div class="row">
                    <div brewer:classforerror="email" class="form-group  col-sm-6 bw-required">
                        <label for="email">E-mail</label>
                        <input class="form-control" id="email" th:field="*{email}" type="text"/>
                    </div>
                    <div brewer:classforerror="assignedAt" class="form-group  col-sm-3">
                        <label for="assignedAt">Assigned At</label>
                        <input autocomplete="off" class="form-control js-date" data-provide="datepicker" id="assignedAt"
                               th:field="*{assignedAt}"
                               type="text"/>

                        <!--
                        data-provide="datepicker"
                             data-date-format="yyyy-mm-dd"
                             data-date-orientation="bottom"
                             data-date-clear-btn="true"
                             data-date-autoclose="true"
                             data-date-today-highlight="true"
                             -->
                        <!--date-date-language="pt-PT"-->
                    </div>
                </div>

                <div class="row">
                    <div brewer:classforerror="password" class="form-group  col-sm-3 bw-required"
                         th:classappend="${user.isNew() == null ? 'bw-required' : ''}">
                        <label for="password">Password</label>
                        <input class="form-control" id="password"
                               th:field="*{password}" type="password"/>
                    </div>

                    <div brewer:classforerror="passwordConfirmation" class="form-group  col-sm-3">
                        <label for="confirmPassword">Confirm password</label>
                        <input class="form-control" id="confirmPassword" th:field="*{passwordConfirmation}"
                               type="password"/>
                    </div>

                    <div class="form-group  col-sm-3">
                        <label class="control-label">Status</label>
                        <div>
                            <input class="js-status" data-off-color="danger" data-off-text="Inactive"
                                   data-on-text="Active" data-size="small"
                                   th:checked="*{enable}" th:field="*{enable}" type="checkbox"/>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div brewer:classforerror="groups" class="form-group  col-sm-6 bw-required">
                        <label class="control-label">Groups</label>
                        <div>
                            <th:block th:each="g : ${allUserGroups}">
                                <div class="checkbox  checkbox-inline">
                                    <input th:field="*{groups}" th:value="${g.id}" type="checkbox"/>
                                    <label th:for="${#ids.prev('groups')}" th:text="${g.name}">Administrator</label>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn  btn-primary" type="submit">Save</button>
                </div>

                <!-- <span th:text="${message}"></span>-->

            </form>

        </div>

    </section>
</div>

<th:block layout:fragment="javascripts-extras">
    <script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
    <!--<script th:src="@{/javascripts/vendors/bootstrap-datepicker.min.js}"></script>-->
    <!--<script th:src="@{/javascripts/vendors/bootstrap-datepicker.pt.min.js}"></script>-->

    <script>
        $(".js-status").bootstrapSwitch({'checked': true});
        //$(".js-status").bootstrapSwitch({'disabled': false, 'checked': true } );

    </script>
</th:block>

</body>
</html>
