<!DOCTYPE html>
<html layout:decorate="'layout/standard'"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:brewer="http://brewer.costax.io"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Users</title>
</head>
<body>
<div layout:fragment="content">

    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10">
                        <h1>Search styles</h1>
                    </div>

                    <div class="col-xs-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/users/new}">
                                <i class="glyphicon  glyphicon-plus-sign"></i> <span
                                    class="hidden-xs  hidden-sm">New user</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <form method="GET" th:action="@{/users}" th:object="${filter}">
                <div class="row">
                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="name">Name</label>
                        <input autofocus="autofocus" class="form-control"
                               id="name"
                               th:field="*{name}"
                               type="text"/>
                    </div>
                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="name">E-mail</label>
                        <input autofocus="autofocus" class="form-control"
                               id="email"
                               th:field="*{email}"
                               type="text"/>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group  col-sm-12">
                        <label class="control-label">Groups</label>

                        <div>

                            <th:block th:each="g : ${groups}">
                                <div class="checkbox  checkbox-inline">
                                    <input th:field="*{groups}"
                                           th:name="groups"
                                           th:value="${g.id}"
                                           type="checkbox"/>
                                    <label th:for="${#ids.prev('groups')}"
                                           th:text="${g.name}">Administrator</label>
                                </div>
                            </th:block>

                        </div>

                    </div>
                </div>

                <button class="btn  btn-primary" type="submit">Search</button>
            </form>


            <div class="aw-datatable-toolbar">
                <button class="btn btn-default  btn-xs  js-status-btn disabled" data:status="Y"
                        data:url="@{/brewer/users/status}">
                    <span>Active All</span>
                </button>

                <button class="btn btn-default  btn-xs  js-status-btn disabled" data:status="N"
                        data:url="@{/brewer/users/status}">
                    <span>Inactive None</span>
                </button>
            </div>

            <div class="table-responsive  bw-simples-table">

                <table class="table  table-hover">
                    <thead>
                    <tr>

                        <th class="table-users-col-status">
                            <div class="checkbox  aw-checkbox-no-margin">
                                <input class="js-select-all-rows" type="checkbox"/>
                                <label></label>
                            </div>
                        </th>

                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Status</th>
                        <th>Groups</th>
                        <th class="style-table-col-actions"></th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr th:each="s : ${page.content}">

                        <td>
                            <div class="checkbox  aw-checkbox-no-margin"
                                 th:if="${#authentication.principal.user.id != s.id}">
                                <input class="js-row-selectable" data:identifier="${s.id}" type="checkbox">
                                <label></label>
                            </div>
                        </td>


                        <td th:text="${s.name}"></td>
                        <td th:text="${s.email}"></td>
                        <td>

                            <th:block th:if="${s.enable}">
                                <span class="label label-success">YES</span>
                            </th:block>
                            <th:block th:if="${not s.enable}">
                                <span class="label label-danger">NO</span>
                            </th:block>

                            <!--<span class="label label-success" th:text="${s.enable} ?  YES : NO"></span>-->
                        </td>
                        <!--<td th:text="${s.enable} ?  YES : NO"></td>-->
                        <td>
                            <span th:each="grupo : ${s.groups}"
                                  th:text="|${grupo.name}${grupoStat.last ? '' : ', '}|"></span>
                        </td>

                        <td class="text-center">
                            <a class="btn  btn-link  btn-xs" title="Edit">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn  btn-link  btn-xs" title="Exclude">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>

                    </tr>

                    <tr th:if="${page.empty}">
                        <td colspan="6">
                            <span>No users Found</span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <brewer:pagination page="${page}"/>

        </div>

    </section>

</div>

<th:block layout:fragment="javascripts-extras">
    <script th:src="@{/javascripts/multiselection.js}"></script>
</th:block>

</body>
</html>