<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:brewer="http://brewer.costax.com"
      layout:decorate="layout/standard"> <!--layout:decorator="'layout/standard'"-->
<head>
    <title>Create new Client</title>
</head>

<body>

<div layout:fragment="content">

    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>
                            Create new Client
                        </h1>
                    </div>
                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/clients}">
                                <i class="glyphicon  glyphicon-search"></i> <span
                                    class="hidden-xs  hidden-sm">Search</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <form class="form-vertical  js-form-loading" method="POST" th:action="@{/clients/new}"
                  th:object="${client}">

                <brewer:message/>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-8 bw-required" brewer:classforerror="name">
                        <label for="code">Name</label>
                        <input id="code" type="text" autofocus="autofocus" class="form-control" th:field="*{name}"/>
                    </div>

                    <div class="form-group col-sm-4 col-md-4 bw-required" brewer:classforerror="nif">
                        <label for="nif">NIF</label>
                        <input type="text" class="form-control js-nif" id="nif" th:field="*{nif}"/>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-sm-4 bw-required" brewer:classforerror="phone">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control  js-phone-number" id="phone" th:field="*{phone}"/>
                    </div>

                    <div class="form-group  col-sm-8" brewer:classforerror="email">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}"/>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="country">Country/Region</label>


                        <select id="country" class="form-control" th:field="*{address.country}">
                            <option value="">Select one country</option>
                            <option th:each="estado : ${countries}"
                                    th:value="${estado.id}"
                                    th:selected="${estado.equals(client.address.country)}"
                                    th:text="${estado.name}"></option>
                        </select>

                    </div>

                    <div class="form-group  col-sm-4" brewer:classforerror="address.city">
                        <label for="city">City</label>
                        <div class="bw-field-action">

                            <input type="hidden" id="inputHiddenSelectedCity"
                                   th:value="*{address.city} != null ? *{address.city.id}"/>

                            <select id="city" class="form-control"
                                    th:field="*{address.city}"
                                    th:attr="url=@{'/cities'}">
                            </select>

                            <div class="bw-field-action__icon  js-img-loading" style="display: none">
                                <img th:src="@{/layout/images/mini-loading.gif}"/>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="form-group col-sm-2 col-md-2">
                        <label for="zip-code">Zip Code</label>
                        <input id="zip-code" type="text" class="form-control" th:field="*{address.zipCode}">
                    </div>
                    <div class="form-group col-sm-10 col-md-10">
                        <label for="Street-address1">Street address</label>
                        <input type="text" class="form-control" id="Street-address1"
                               th:field="*{address.streetAddress}"/>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn  btn-primary" type="submit">Save</button>
                </div>

            </form>

        </div>

    </section>

</div>


<th:block layout:fragment="javascripts-extras">
    <script th:src="@{/javascripts/clients.dropdown.js}"></script>
</th:block>

</body>

</html>
