<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:brewer="http://brewer.costax.io"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="'layout/standard'">
<head>
    <title>Search clients</title>
</head>

<body>

<div layout:fragment="content">

    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Search clients</h1>
                    </div>

                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/clients/new}">
                                <i class="glyphicon  glyphicon-plus-sign"></i> <span
                                    class="hidden-xs  hidden-sm">New client</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <form method="GET" th:object="${filter}">
                <div class="row">
                    <div class="form-group  col-sm-8">
                        <label class="control-label" for="name">Name</label>
                        <input type="text" class="form-control" id="name" autofocus="autofocus" th:field="*{name}"/>
                    </div>

                    <div class="form-group  col-sm-4">
                        <label for="nif" class="control-label">Nif</label>
                        <input type="text" class="form-control js-nif" id="nif" th:field="*{nif}"/>
                    </div>
                </div>
                <button type="submit" class="btn  btn-primary">Search</button>
            </form>

            <div class="table-responsive  bw-tabela-simples">
                <table class="table  table-hover">
                    <thead>
                    <tr>

                        <th class="style-table-col-id">
                            <brewer:sortable page="${page}" field="name" text="'Name'"/>
                        </th>
                        <th>
                            <brewer:sortable page="${page}" field="nif" text="'Nif'"/>
                        </th>
                        <th>
                            <brewer:sortable page="${page}" field="phone" text="'Phone Number'"/>
                        </th>
                        <th>
                            Country/City
                        </th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="c : ${page.content}">
                        <td class="text-center" th:text="${c.name}"></td>
                        <td th:text="${c.nif}"></td>
                        <td th:text="${c.phone}"></td>
                        <td th:text="${c.countryAcronymAndCityName}"></td>
                        <td class="text-center">
                            <a class="btn  btn-link  btn-xs" title="Edit">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn  btn-link  btn-xs" title="Exclude">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(page.content)}">
                        <td colspan="4">
                            <span>No Clients Found</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <brewer:pagination page="${page}"/>

        </div>

    </section>

</div>

</body>
</html>