<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <title>Brewer</title>

    <link rel="stylesheet" th:href="@{/layout/stylesheets/vendors.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/layout/stylesheets/costax.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/layout/stylesheets/application.css}" type="text/css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="aw-layout-simple-page">
<div class="aw-layout-simple-page__container">

    <form method="POST" th:action="@{/login}">
        <div class="aw-simple-panel">
            <img alt="Brewer" th:src="@{/layout/images/logo-gray.png}"/>

            <div class="aw-simple-panel__message">
                Por favor, faça login.
            </div>

            <div class="aw-simple-panel__message  is-error" th:if="${#bools.isTrue(param.error)}">
                O e-mail e/ou password não incorrectos
            </div>

            <div class="aw-simple-panel__box">
                <div class="form-group  has-feedback">
                    <input autofocus="autofocus" class="form-control  input-lg"
                           name="username"
                           placeholder="Seu e-mail"
                           value="admin@brewer.moc"
                           type="text"/>
                    <span class="glyphicon  glyphicon-envelope  form-control-feedback"></span>
                </div>

                <div class="form-group  has-feedback">
                    <input class="form-control  input-lg"
                           name="password"
                           placeholder="Sua password"
                           type="password" value="admin"/>
                    <span class="glyphicon  glyphicon-lock  form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <button class="btn  btn-primary  btn-lg  aw-btn-full-width" type="submit">Entrar</button>
                </div>

            </div>
        </div>
    </form>

</div>

<script th:src="@{/layout/javascripts/vendors.js}"></script>
<script th:src="@{/layout/javascripts/costax.js}"></script>
</body>
</html>