<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="'layout/standard'">
<head>
    <title>Create new style</title>
</head>

<body>

<div layout:fragment="content">

    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-10">
                        <h1>
                            Create new style
                        </h1>
                    </div>
                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/styles}">
                                <i class="glyphicon  glyphicon-search"></i> <span
                                    class="hidden-xs  hidden-sm">Search</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">

            <th:block th:include="fragments/success-message"/>

            <form class="form-vertical  js-form-loading" method="POST" th:action="@{/styles/new}" th:object="${style}">

                <th:block th:include="fragments/validation-errors-messages"/>

                <div class="row">
                    <div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                        <label for="name" class="control-label">Name</label>
                        <input th:field="*{name}"
                               type="text"
                               class="form-control"
                               id="name"
                               autofocus="autofocus"/>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>

    </section>

</div>

</body>
</html>
