<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:brewer="http://brewer.costax.io"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="'layout/standard'">
<head>
    <title>Search styles</title>
</head>
<body>
<div layout:fragment="content">

    <section class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10">
                        <h1>Search styles</h1>
                    </div>

                    <div class="col-xs-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/styles/new}">
                                <i class="glyphicon  glyphicon-plus-sign"></i> <span
                                    class="hidden-xs  hidden-sm">New style</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <form method="GET" th:action="@{/styles}" th:object="${filter}">
                <div class="row">
                    <div class="form-group  col-sm-12">
                        <label class="control-label" for="name">Name</label>
                        <input type="text" class="form-control" id="name" autofocus="autofocus" th:field="*{name}"/>
                    </div>
                </div>
                <button type="submit" class="btn  btn-primary">Search</button>
            </form>

            <div class="table-responsive  bw-simples-table">

                <table class="table  table-hover">
                    <thead>
                    <th class="style-table-col-id">
                        <brewer:sortable page="${page}" field="id" text="'ID'"/>
                    </th>
                    <th class="style-table-col-name">
                        <brewer:sortable page="${page}" field="name" text="'Name'"/>
                    </th>
                    <th class="style-table-col-actions"></th>
                    </thead>
                    <tbody>
                    <tr th:each="s : ${page.content}">
                        <td class="col-md-2" th:text="${s.id}"></td>
                        <td class="col-md-9" th:text="${s.name}"></td>
                        <td class="col-md-1">
                            <a class="btn  btn-link  btn-xs" title="Edit">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn  btn-link  btn-xs" title="Exclude">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${page.empty}">
                        <td colspan="3">
                            <span>No Styles Found</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <brewer:pagination page="${page}"/>

        </div>

    </section>

</div>
</body>
</html>